body {
    background-color:#fdc57b;
    font-family: 'Oxygen', sans-serif;
}

section {
    /* height: 500px; */
    background-color: #fbf2d5;
    /* border: solid #394a51 1px; */
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

.hero {
    background-color: #394a51;
    min-height: 100vh;
    /* max-height: 100%; */
    /* width: 50vw; */
    color: white;
    font-size: 40px;
}

footer {
    /* height: 500px; */
    background-color:  #fdc57b;
    padding: 80px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display: block;
}

li {
    /* display: flex;
    justify-content: space-around; */
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color:rgb(41, 169, 255);
    font-weight: bold;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 20px;
}

.hero-area {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 30px;
    /* margin-top: 200px; */
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    background-color: #fdc57b;
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
    cursor: pointer;
}

.button:hover {
    /* background-color: #7fa99b; */
    /* border: solid #fdc57b 1px; */
    background-color: rgb(41, 169, 255);
}

.button:active {
    background-color: grey;
    color: darkgrey;
    border: none;
}

.socials {
    padding-bottom: 100px;
}

.social {
    margin: 20px;
    display:block;
}

.social:hover {
    /* border: solid rgb(101, 144, 224) 5px; */
    border-radius: 10px;
    background-color: rgb(41, 169, 255);
}

.logo {
    height: 100px;
    margin: 10px;
}

/* .information {
    display: flex;
    justify-content: space-around;
    padding: 60px;
} */

.headshot-container {
    display: flex;
    align-items: center;
}

.headshot {
    /* height: 300px; */
    width: 300px;
    border-radius: 150px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-card {
    height: 550px;
    width: 300px;
    box-shadow: 5px 5px 20px;
    /* border: solid black 1px; */
    margin: 10px;
    position: relative;
}

.project-image {
    margin-top: 25px;
    height: 250px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.hairline {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.project-link {
    text-decoration: none;
    color: #394a51;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    /* text-decoration: underline; */
    color: rgb(41, 169, 255);
    font-weight: bold;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        margin: 20px;
        background-color: transparent;
        color: #ffffff;
        font-size: 40px;
        cursor: pointer;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #465a63;
    }

    li {
        margin: 10px;
    }

    li a:hover {
        text-decoration: none;
        color:rgb(41, 169, 255);
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #465a63;
    }

    .logo {
        height: 50px;
        width: 50px;
        margin: 20px;
        align-self: flex-end;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: solid black 1px;
    padding: 10px;
    box-shadow: 5px 5px 20px;
}

.contact-form input {
    height: 50px;
    width: 400px;
}

.contact-form textarea {
    height: 50px;
    width: 402px;
}

/* thankyou.html page styling below */

.thanks {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
}

